/* :root {
    --container-width: 250px;
    --button-gap: 12px;
    --button-size: 50px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    padding: 24px;
    /* width: 100vw;
    height: 100vh; */
}

#heading {
    text-align: center;
    margin-bottom: 48px;
}

.container {
    background-color: lightseagreen;
    
}

/* 
.container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: var(--container-width);
    margin: 0 auto;
    border: 2px solid black;
}

.display {
    display: flex;
    margin: 8px;
    padding: 8px;
    background-color: lightgreen;
    text-align: right;
}

.inputs {
    display: flex;
    gap: var(--button-gap);
    margin: 12px;
}

.nums {
    display: flex;
    gap: var(--button-gap);
    flex-wrap: wrap;
}

.nums button {
    flex: 1;
    background-color: aqua;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: var(--button-gap);
    min-width: calc(var(--button-size) + var(--button-gap));
}

.operators button {
    flex: auto;
    flex: 1;
}

button {
    padding: 8px;
    min-width: var(--button-size);
} */